# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Create .env file using this file as a template.
# Define all your variables for local development as described below.
# 
# AWS environment varialves:
# Use "AWS_" to give access to your test AWS account.
#
# GitHub Action environment variables:
# The code uses GitHub's core.getInput() function for getting input parameters 
# from the Github Action configuration. Under the hood core.getInput() function uses
# environment variables started with "INPUT_" prefix. 
# So use the following "INPUT_" variables to simulate the input.

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
INPUT_GITHUB_TOKEN=
INPUT_ACTION=
INPUT_EC2_IMAGE_ID=
INPUT_EC2_INSTANCE_TYPE=
INPUT_LABEL=