# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Create .env file using this file as a template.
# Define all your variables for local development as described below.
# 
# - Use environment variables with prefix "AWS_" to give access to your test AWS account.
# - Use environment variables with prefix "INPUT_" to simulate GitHub Actions input.
# - Use environment variables with prefix "STATE_" to simulate GitHub Actions state.
# - Use GITHUB_REPOSITORY environment variable to provide the GitHub repository and it's owher as a context in the script. Use formst "owner/repo".

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
INPUT_GITHUB_TOKEN=
INPUT_EC2_IMAGE_ID=
INPUT_EC2_INSTANCE_TYPE=
INPUT_SUBNET_ID=
INPUT_SECURITY_GROUP_ID=
STATE_EC2_INSTANCE_ID=
STATE_LABEL=
GITHUB_REPOSITORY=