# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Create .env file using this file as a template.
# Define all your variables for local development as described below.
# 
# - Use environment variables with prefix "AWS_" to give access to your test AWS account.
# - Use environment variables with prefix "INPUT_" to simulate GitHub Actions input.
# - Use GITHUB_REPOSITORY environment variable to provide the GitHub repository and it's owher as a context in the script. Use formst "owner/repo".

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
INPUT_MODE=
INPUT_GITHUB-TOKEN=
INPUT_EC2-IMAGE-ID=
INPUT_EC2-INSTANCE-TYPE=
INPUT_SUBNET-ID=
INPUT_SECURITY-GROUP-ID=
INPUT_LABEL=
INPUT_EC2-INSTANCE-ID=
GITHUB_REPOSITORY=
